<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fr.eseo.ld.proseboard.mybatis.mappers.ExpertiseMapper">

	<!-- Le type expertise est défini dans fr.eseo.ld.proseboard.mybatis:config.xml -->
	
	<!-- en cas de problème il faudra vérifier que tout les champs sont remplis correctement -->
	
	<resultMap type="Expertise" id="ExpertiseResult">
		<id property="idExp" column="id_exp" />
		<id property="name" column="name_exp" />
	</resultMap>
	
	<resultMap type="Expertise" id="ExpertiseUser">
		<id property="idUser" column="id_user" />
		<id property="idExp" column="id_expertise" />
	</resultMap>
	
	<resultMap type="ExpertiseArea" id="ExpertiseAreaResult">
		<id property="idExp" column="id_exp" />
		<id property="nameExp" column="name_exp" />
	</resultMap>
	
	<resultMap type="ExpertiseUser" id="ExpertiseUserResult">
		<id property="idUser" column="id_user" />
		<id property="idExpertise" column="id_expertise" />
	</resultMap>
	
	<select id="getById" parameterType="long" resultMap="ExpertiseResult">
		SELECT * FROM expertise_area WHERE id_exp = #{id}
	</select>

	<select id="getAll" resultMap="ExpertiseResult">
		SELECT DISTINCT * FROM expertise_area
	</select>
	
	<select id="getAll2" resultMap="ExpertiseUser">
		SELECT DISTINCT * FROM expertise_user
	</select>
	
	<select id="getByIdUser" parameterType="User" resultMap="ExpertiseResult">
		SELECT * FROM expertise_area
		WHERE id_exp IN
        (
            SELECT id_expertise FROM expertise_user
            WHERE expertise_user.id_user = #{id}
        );
	</select>
	
	<select id="getByIdUser2" parameterType="Long" resultMap="ExpertiseUser">
		SELECT DISTINCT * FROM expertise_user
		WHERE id_user = #{id}
	</select>

	<select id="getIdUserByIdExpMapper" parameterType="Long" resultType="Long" >
		SELECT id_user FROM expertise_user
		WHERE id_expertise = #{id}
	</select>

	<insert id="insert" parameterType="Expertise" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO expertise_area (name_exp)
		VALUES(#{name})
	</insert>
	
	<select id="getIdExpByNameExp" parameterType="String" resultType="Long" >
		SELECT MIN(id_exp) FROM expertise_area
		WHERE name_exp = #{name}
	</select>
	
	<insert id="insert2" parameterType="Expertise" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO expertise_user (id_user, id_expertise)
		VALUES(#{idUser}, #{idExp})
	</insert>
	
	<select id="getAllByExp" parameterType="map" resultMap="ExpertiseAreaResult">
   			SELECT * FROM expertise_area WHERE expertise_area.id_exp IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=", ">
    		#{list[${index}].idExp}
    	</foreach> 
	</select>


</mapper>