<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fr.eseo.ld.proseboard.mybatis.mappers.StatusUserMapper">
	
	
	<resultMap type="StatusUser" id="StatusUserResult">
		<id property="idUser" column="id_user" />
		<result property="idStatus" column="id_status" />
		<result property="idSession" column="id_session" />
	</resultMap>
	
	
	<delete id="deleteBySessionId" parameterType="long">
		DELETE FROM status_user WHERE id_session = #{idSession}
	</delete>
	
	
	
	<select id="getByIdTeacher" parameterType="Long" resultMap="StatusUserResult">
		SELECT * FROM status_user
		WHERE status_user.id_status = 7
	</select>
	
</mapper>